  @font-face {
      font-family: 'Kollektif Regular';
      font-style: normal;
      font-weight: normal;
      src: local('Kollektif Regular'), url('Kollektif.woff') format('woff');
  }
*{
    box-sizing: border-box;
    font-family: Arial;
}
body{
    width: 100%;

}
header{

    z-index: 1;
    position: absolute;
    display: flex;
    width: 100%;
    height: 130px;
        position: fixed;
}

#logo{
    width: 130px;
    height: 130px;
    margin-right:2%;
    
}

#logo2{
    width: 130px;
    height: 130px;
      margin-right: 2%;
}
#hreflogo1:hover{
    border-bottom: none;
}
.logo2href{
    width:10%;
}
#fblogo{
    font-size: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5%;
    margin-top: 1%;     
}
#pages1{
    margin-left: -5%;

}
nav a {
    text-decoration: none;
    color: rgb(251, 188, 88);
    margin-right: 2%;
    font-size: 120%;

}
#pages1 .ahover:hover{
    color: rgb(251, 188, 88);

    border-bottom: 2px solid rgb(251, 188, 88);
    width: 70%;
    text-decoration: none;
    bottom: -2%;
    left: 50%;
 
}



#sideheader{
    display: flex;
    margin-left: 69%;
    margin-top: -9%;
}
#sideheader i{
    color:white;
    justify-content: end;
    font-size: 200%;
    margin-right: 2%;
}

#sideheader a{
    color:white;
    margin-right: 5%;
    margin-top: 2%;
    
}
#sideheader a:hover{
    text-decoration: none;
}
#header2{
    background-color: rgb(251, 188, 88);
    position: fixed; 
    margin-top: 0%;

}

#pages2{
    margin-left: 0%;
    width: 70%;
    margin-top: 3%;
    margin-left: 1%;
    
}
#nav2{
    width: 100%;
    display: flex;
    margin-left: 0%;
}
#nav2 a{
    color: white;
    text-decoration: none;
}
#nav2 a:hover{
    color: rgb(13, 129, 153);
}
#sideheader2{
    display: flex;
    width: 30%;    
}
#sideheader2 i {
    color: white;
    justify-content: end;
    font-size: 200%;
    margin-right: 3%;



}

#sideheader2 a {
    color: white;
    margin-right: 5%;
    margin-top: 2%;

}
ol.carousel-indicators {
    bottom: 5%;
    width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 15px;
    height: 15px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: rgb(219, 219, 219);
    border-radius: 50%;
    padding: 10px;
    
    
}

ol.carousel-indicators li.active {
    background: rgb(251, 188, 88);
    width: 15px;
        height: 15px;
    margin-right: 1%;
}
ol.carousel-indicators li{
    margin-right: 1%;
}
#textcarousel{
    margin-bottom: 5%;
}
#textcarousel h5{
font-size: 500%;

}

#textcarousel button{
    border: none;
    background-color: rgb(232, 65, 69);
    border-radius: 6px;
    height: 40px;
    width: 120px;
    color: white;
}
#divinfo{
    height: 30vh;
    background-color: rgb(13, 129, 153);
    width: 100%;
    display: flex;
    
}
#divinfo h2{
    color: white;
    font-size: 150%;   
    margin-left: 25%;
    margin-top: 3%;
    justify-content: space-between;
    width: 50%;

}
section{
    background-color: white;
    border-radius: 20px;
    height: 65%;
    width: 33%;
    justify-content: space-between;
    margin-top: 10%;

}
#divsection{
    display: flex;
    justify-content: space-around;
    margin-top:-15%;
}
#divsection section{
    width: 26%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;

    justify-content: space-around;
    
}
#divsection section div{

height: 180px;
background-color:rgb(251, 188, 88);
border-radius: 10px;
width: 90%;
justify-content: space-around;
margin-top: 4%;
display: flex;
align-items: center;
flex-direction: column;
}
#divsection section div i{
    font-size: 350%;
    color: rgb(13, 129, 153);
    margin-top: 3%;
   
}
#divsection section div h3{
    color: rgb(13, 129, 153);
    
}
#divsection section div p{
    color: white;
    display: flex;
    margin-left: 10%;
}
#photodiv{
    height: 300px;
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 15%;
}
#photochien{
    height: 250px;
    width: 400px;
    border-radius: 15px;
    
}
#actu{
    height: 250px;
    width: 400px;
    border-radius: 15px;
    background-color: rgb(251, 188, 88);
    display: flex;
    flex-direction: column;
    font-size: 170%;
    padding: 2%;
    
}
#actu h3{
    color: white;
}
#actu hr{
    color: white;
    width:33%;
    background-color: white;
    margin-left: 0%;
    margin-top: -3%;
}
#actu p{
    color: white;
    font-size: 80%;
}
#actu button{
    font-size: 60%;
    border-radius: 6px;
    background-color: rgb(13, 129, 153);
    border: none;
    width: 33%;
    padding: 2%;
    color: white;
    margin-left: 33%;
}
#divcompteur{
    height: 300px;
    width: 90%;
    background-color:rgb(13, 129, 153);
    border-radius: 12px;
    margin-left: 4%;
    display: flex;
    justify-content: space-around;
}
#section-stats{
    height: 230px;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 25%;
    margin-left: 1%;
    border-radius: 0%;
    color: rgb(81, 81, 81);
    justify-content: space-around;
    font-size: 80%;
    justify-content: center;

}
#section-stats2{
    height: 230px;
        display: flex;
        margin-top: 3%;
        border-radius: 0%;
        width: 66%;
}
#section-stats h3{
    font-size: 250%;
    margin-left: 33%;
    margin-top: -4%;

}
#section-stats p{
    margin-left: 33%;
    font-size: 80%;
}
#section-stats2 #text1{
    font-size: 150%;
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
}
#section-stats2 hr{
    width: 2px;
    height: 80%;
    background-color: rgb(119, 119, 119);

    margin-right: 5%;
}
#section-stats2 #text2{
    width: 40%;
    margin-top: 5%;
    font-size: 120%;
    margin-right: 5%;
}
footer div hr{
    height: 5px;
    border-radius: 3px;
    background-color: rgb(251, 188, 88);
    width: 6%;
    margin-left: 0%;
    margin-top: 3%;
    
}
footer div a{
    text-decoration: none;
    color: rgb(119, 119, 119);
}
footer{
    height: 100px;
    width: 100%;
    display: flex;
}
#contact{
    display: flex;
    flex-direction: column;
   margin-left: 15%;
}
#cgu{
    display: flex;
        flex-direction: column;
        margin-left: 55%;
        margin-top: -5%;
}
#iconDate{
background: white;
width: 100px;

}
#footericon{
    display: flex;
        margin-left: 75%;
        font-size: 200%;
        margin-top: -5%;
       
}
#footericon a{
    margin-right: 10%;
}
#footericon a i{
    font-size: 200%;
    color: black;
}
#adressePrefix{
    margin-right: 1%;
}
.inscriptionContainer{
    display: flex;
    margin-left: 20%;
    margin-top: 0%;
}
#mdp:invalid{
border: 2px dashed pink;
}
#mdp:invalid:focus {
    background-color: pink;
}
#confirmMdp:invalid {
    border: 2px dashed pink;
}
#confirmMdp:invalid:focus {
    background-color: pink;
}
#loginLogoSvgInscription {
    width: 400px;
    height: 400px;
    margin-top: 5%;
}
#backgroundInscription{
width: 80%;
    background-color: rgb(13, 129, 153);
    border-radius: 30px;
    margin-left: 10%;
    height: 65vh;
    display: flex;
    margin-top: 10%;
}
#pageInscription{
    color: white;
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    
}

#jeMinscris{
    background-color: rgb(251, 188, 88);
    color: white;
    border: none;
    border-radius: 10px;
    width:200px;
    height: 40px;
}
#nomPrenom{
    display:flex;
    width: 100%;
}
#inputNom{
    margin-right: 5%;
}
.inputGroup{
    margin-right: 2%;
    margin-bottom: 2%;
}
.signForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
}
.signForm h1{
    margin-bottom: 5%;
    margin-top: 5%;
}
#mailInput{
    display: flex;
}
.villeAndCp{
    display: flex;
}
#passwordGroup{
    display: flex;
}
#adresseRue{
    display: flex;
}

#roleLabel{
    margin-bottom: 3%;
}
#seConnecterh1{
    color: white;
    margin-bottom: 10%;
}
#connexionContainer{
    background-color: rgb(13, 129, 153);
    width: 80%;
    border-radius: 30px;
    height: 65vh;
    margin-left: 10%;
    display: flex;
    margin-top: 10%;
    justify-content: left;
    align-items: left;
    flex-wrap: nowrap;
    padding-top: 5%;
    padding-left: 20%;
}
#formConnexionContainer{
    display: flex;
    flex-direction: column;
}
#loginLogoSvg {
    width: 400px;
    height: 400px;
}

#loginButton{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(251, 188, 88);
    height: 35px;
    margin-bottom: 5%;
    width: 100%;
}
.connexionInput{
height: 30px;
border: none;
margin-bottom: 2%;
}
#mdpoublie{
    text-decoration: none;
    color: white;
   
}
#labelResterConnecté{
    color: white;
    margin-top: -50%;
   
}
#divResterConnecté{
    margin-left: -20%;
    display: flex;
    flex-direction: column;
}
#tickResterConnecté{
    width: 25px;
    height: 25px;
margin-right: 4%;
}
#tickAndLabel{
    display: flex;
    margin-bottom: 3%;
    
}
#tickAndLabel span{
    color: white;
    
}

#leCollectifArticle{
    margin-top: 15%;
    color: rgb(119, 119, 119);
    width: 45%;
}
#leCollectifHr{
    height: 5px;
        border-radius: 3px;
        background-color: rgb(251, 188, 88);
        width: 18%;
        margin-left: 0%;
}
#jeMinscrisLeCollectif{
    background-color: rgb(232, 65, 69);
    border-radius: 6px;
    width: 120px;
    color: white;

}
#jeMinscrisLeCollectifButton{
    border: none;
    background-color: rgb(232, 65, 69);
    border-radius: 6px;
    height: 40px;
    width: 120px;
    margin-left: 5%;
}
#SecondArticleImg{
    width: 450px;
    height: 350px;
    border-radius: 2%;
    margin-top: 50%;
}
#leCollectifArticleFlex{
display: flex;
margin-bottom: 3%;
justify-content: space-between;
margin-right: 5%;
margin-left: 5%;
}
.TableauImgsFormat{
    height: 180px;
    width: 300px;
    margin: 2% 2% 0% 2%;
}
.logoTableauImgsFormat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.logoTableauImgsFormat i{
    font-size: 700%;
    color: rgb(13, 129, 153);
}
#TableauImgs{
background-color:rgb(13, 129, 153) ;
margin: 0% 3% 3% 3%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 2%;
width: 90%;
margin-left: 5%;
}
.divFlexTableauImgs{
    display: flex;
}
#marginBottomImgs{
    margin-bottom: 2%;
}
#logoPEuxTableauImgs{
    background-color: white;
}
#fondCouleurArticle{
background-color: rgb(251, 188, 88);
display: flex;
align-items: center;
justify-content: center;
height:650px;
width: 90%;
margin-left: 5%;
border-radius: 3%;
padding-left: 2%;
padding-right: 2%;
}
#chartePourEux{
    width: 100%;
    height: 485px;
    border-radius: 5%;
}
#jeMinscrisLeCollectif2{
    background-color: rgb(232, 65, 69);
    border-radius: 6px;
    width: 120px;
    color: white;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#articlesChartePEux{
    width: 50%;
    margin: 0% 3% 0% 3%;
    font-style: normal;
    font-weight: normal;
    background-color: white;
    border-radius: 5%;
    height:75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2%;
    color: rgb(119, 119, 119);
}
#divChartePEux{
    width: 50%;
    margin-left: 3%;
  
}
#hrChartePEux{
    height: 6px;
    width: 20%;
    color: rgb(251, 188, 88);
    background: rgb(251, 188, 88);
    margin-left: 0%;
    border-radius: 15%;
}
#premierArticleActualités{
    width: 90%;
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    margin: 10% 10% 5% 10%;
    padding: 2%;

}
#premiereImgActu{
    width:400px;
    height: 300px;
    border-radius: 5%;
}
#facebookApiFeedDiv{
    background-color: rgb(251, 188, 88);
    width: 400px;
    height: 300px;
    border-radius: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2% 2% 0% 2%;
}
.enSavoirPlusActu{
    border: none;
    background-color: rgb(232, 65, 69);
    border-radius: 6px;
    height: 40px;
    width: 120px;
    color: white;
}
.enSavoirPlusActu a{
    color: white;
}
#articleDeuxActuDiv{
    background-color: rgb(251, 188, 88);
    width: 400px;
    height: 300px;
    border-radius: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2% 2% 0% 2%;
}
#deuxiemeImgActu{
    width: 400px;
        height: 300px;
        border-radius: 5%;
}
#deuxiemeArticleActualités{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
#backgroundColorActuDiv{
    background-color: rgb(13, 129, 153);
    width: 90%;
    border-radius: 20px;
    padding-top: 1%;
    margin-left: 10%;
}
.sr-only {
    position: absolute;
    top: -2000em;
    left: -3000em;
}



.datepicker .group {
    display: flex;
    width: 100%;
        
}

.datepicker label {
    display: block;
    font-weight: bold;
}

.datepicker input {
    height :40px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    width: 100px;
    border-radius: 5px;
 
}

.datepicker button.icon {
    position: relative;
    top: 0.25em;
    margin: 0;
    padding: 4px;
    border: 0 solid white;
    border-radius: 5px;
}
.datepicker button.icon:hover{
    color: rgb(251, 188, 88);
}

.datepicker .desc {
    position: absolute;
    left: 0;
    top: 2em;
    

}

.datepicker .fa-calendar-alt {
    color: rgb(13, 129, 153);
    
}

.datepicker button.icon:focus {
    outline: none;
    padding: 2px;

}
.datepicker input:focus {
    background-color: white;
    outline: 2px solid rgb(13, 129, 153);
    outline-offset: 1px;
}

.datepicker-dialog {
   
    width: 320px;
    clear: both;
    border: 3px solid white;
    border-radius: 5px;
    padding: 0;
    background-color: white;
    position: fixed;
    margin-top: -35%;
    box-shadow: 0 0 50px 50px rgb(13, 129, 153);
}

.datepicker-dialog .header {
    cursor: default;
    background-color: rgb(13, 129, 153);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 102%;
}

.datepicker-dialog h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1em;
    color: white;
    text-transform: none;
    font-weight: bold;
}

.datepicker-dialog button {
    border-style: none;
    background: transparent;
}

.datepicker-dialog button::-moz-focus-inner {
    border: 0;
}

.datepicker-dialog .dates {
    width: 320px;
}

.datepicker-dialog .prev-year,
.datepicker-dialog .prev-month,
.datepicker-dialog .next-month,
.datepicker-dialog .next-year {
    padding: 4px;
    width: 24px;
    height: 24px;
    color: white;
}

.datepicker-dialog .prev-year:focus,
.datepicker-dialog .prev-month:focus,
.datepicker-dialog .next-month:focus,
.datepicker-dialog .next-year:focus {
    padding: 2px;
    outline: 0;
}

.datepicker-dialog .prev-year:hover,
.datepicker-dialog .prev-month:hover,
.datepicker-dialog .next-month:hover,
.datepicker-dialog .next-year:hover {

color: rgb(251, 188, 88);
}

.datepicker-dialog .dialog-ok-cancel-group {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.datepicker-dialog .dialog-ok-cancel-group button {
    padding: 6px;
    margin-left: 1em;
    width: 5em;
    background-color: rgb(251, 188, 88);
    font-size: 0.85em;
    color: black;
    outline: none;
    border-radius: 5px;
}

.datepicker-dialog .dialog-button:focus {
    padding: 4px;
    border: 2px solid black;
}

.datepicker-dialog .dialog-button:hover {
    padding: 5px;
    border: 1px solid black;
}

.datepicker-dialog .fa-calendar-alt {
    color: rgb(13, 129, 153);
}

.datepicker-dialog .month-year {
    display: inline-block;
    width: 12em;
    text-align: center;
    margin-top: 5px;
}

.datepicker-dialog table.dates {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

.datepicker-dialog table.dates th,
.datepicker-dialog table.dates td {
    text-align: center;
    color: black;
}

.datepicker-dialog table.dates tr {
    border: 1px solid black;
}

.datepicker-dialog table.dates td {
    padding: 3px;
    margin: 0;
    line-height: inherit;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    font-size: 15px;
    background: white;
}

.datepicker-dialog table.dates td.disabled {
    padding: 2px;
    border: none;
    height: 41px;
    width: 41px;
}

.datepicker-dialog table.dates td:focus,
.datepicker-dialog table.dates td:hover {
    padding: 0;
    background-color: rgb(251, 188, 88);
}

.datepicker-dialog table.dates td:focus {
    padding: 1px;
    border: 2px solid black;
    outline: 0;
}

.datepicker-dialog table.dates td:not(.disabled):hover {
    padding: 2px;
    border: 1px solid rgb(251, 188, 88);
}

.datepicker-dialog table.dates td[aria-selected] {
    padding: 1px;
    border: 2px dotted rgb(100 100 100);
}

.datepicker-dialog table.dates td[aria-selected]:focus {
    padding: 1px;
    border: 2px solid rgb(100 100 100);
}

.datepicker-dialog table.dates td[tabindex="0"] {
    background-color: rgb(13, 129, 153);
    color: black;
}
#datePickFlex{
display: flex;
flex-direction: column;
}
#datePickFlex label{
    color: rgb(251, 188, 88);
}
#envoyerPanierForm{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;    
}
#deposerPanierTitle{
    color: white;
}
#deposerPanierDiv{
    background-color: rgb(13, 129, 153);
    border-radius: 20px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:20%;
    height: 500px;
    margin-top: 10%;
    flex-direction: column;
}
#deposerPanierDiv h1{
    margin-bottom: 3%;
}
#heurePickerForm{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5%;
}
#datePickerForm{
    display: flex;  
    width: 100%;
}
.labelHourPicker{
    color: rgb(251, 188, 88);
    font-weight: bold;  
}
#heurePickerForm2 {
    display: flex;
    flex-direction: column;
}
#messageDeclarerPanier{
    width: 400px;
    height: 100px;
}
#buttonDeclarerPanier{
    color : white;
    background-color: rgb(251, 188, 88);
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 5%;
}
.inputDeclareTime{
    margin-top: 1%;
}

#textAreaDiv{
    display: flex;
    flex-direction: column;
}
#vosPanierRepasDiv{
background-color: rgb(13, 129, 153);
border-radius: 20px;
width: 60%;
display: flex;
justify-content: center;
align-items: center;
height: 500px;
flex-direction: column;
margin-top: 2%;
margin-left: 20%;
}
#vosPanierRepasDiv h2{
    color: white;
}
#buttonModifierPanier {
    color: white;
    background-color: rgb(251, 188, 88);
    border-radius: 10px;
    width: 50%;
    height: 40px;
    border: none;
    margin-top: 5%;
}
#verifMail{
    color: rgb(255, 31, 31);
    border: none;
}
#mainContact{
    width: 60%;
    background-color: rgb(13, 129, 153);
    margin-left: 20%;
    margin-top: 10%;
    border-radius:20px;
    color: white;
}
#mainContact{
    display: flex;
    flex-direction: column;
    height:500px;

}
#mainContactContent{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 15%;
    margin-top: 5%;
    
}
.contactIcons{
    color: rgb(251, 188, 88);
    font-size: 200%;
    margin-right: 1%;
}
#formContact{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
#formContact span input{
    margin-bottom: 1%;
    margin-right: 2%;
    width : 38.5%;
}
#contactTA{
    width: 80%;
    height: 30%;
}
#mainContactContent span {
    margin-bottom: 2%;
}
.contactPhoneIcon{
    margin-right: 3%;
}
#contactSubmitButton{
    height: 35px;
    background-color: rgb(251, 188, 88);
    border: none;
    border-radius: 8px;
    width: 80%;
    margin-top: 2%;
    color: white;
}
#mainLivraison{
    background-color: rgb(13, 129, 153);
    margin-left: 20%;
    width: 60%;
    border-radius: 10px;
    height: 500px;
    
    
}
#listePaniersDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    
}
#listePaniersDiv h1{
    color: white;

    font-size: 200%;
    margin-bottom: 20%;
    margin-top: 5%;
}
#listePaniersDiv i{
    color: rgb(251, 188, 88);
    margin-left: 30%;
    font-size: 150%;
    border: white solid 3px;
    border-radius: 10px;
    border-color: rgb(251, 188, 88);
    margin-right: 1%;
    padding: 3px;
}
#listeBouclePaniers{
    color: white;

}
#flexDivLivraison{
    display: flex;
    flex-direction: column;
}
#listeLivraisonsDiv{
display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
#listeLivraisonsDiv h2{
    color: white;
        margin-bottom: 10%;
}
#listeLivraisonsDiv span{
    color: white;
    align-items: left;
    
}
#listeLivraisonsDiv span i{
    color: rgb(251, 188, 88);
        margin-left: 30%;
        font-size: 150%;
        border: white solid 3px;
        border-radius: 10px;
        border-color: rgb(251, 188, 88);
        margin-right: 1%;
        padding: 4px;
}
#flexDivVosLivraisons{
    display: flex;
    flex-direction: column;
    
}
#idInexistant{
    
    position: absolute;
    color: red;
    margin-top: 35%;
    margin-left: 35%;
    font-style: bold;
    font-size: 150%;
}
#mdpInexistant{
    position: absolute;
    color: red;
    margin-top: 35%;
    margin-left: 35%;
    font-style: bold;
    font-size: 150%;
}
#vousEtesConnecté{
    position: absolute;
    color: red;
    margin-top: 35%;
    margin-left: 35%;
    font-style: bold;
    font-size: 150%;
}
#charte{
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;

}
.h1{
    display: none;
}
#menuBurger{
    font-size:300%;
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
    color: rgb(255, 255, 255);
}
